@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(25, 46, 58);
}

.container-cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
}

.logo h1 {
    color: #fff;
    font-size: 1.55rem;
    font-weight: 700;
    margin-left: 0.8rem;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.navbar li {
    color: #fff;
    cursor: pointer;
}

.navbar li:hover {
    color: #5bacdf;
}

.navbar li .btn {
    background-color: #5bacdf;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.navbar li .btn:hover {
    background-color: #011927;
    color: #fff;
}

.conteudo {
    display: flex;
    max-width: 100%;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.direita img{
    max-width: 100%;
    width: 700px;
    height: auto;
}

.esquerda {
    max-width: 100%;
}

.title h1{
    font-size: 50px;
    color: #ccc;
    max-width: 600px;
}

.paragrafo {
    color: #ccc;
    line-height: 2.5rem;
    max-width: 600px;
}

.cta button {
    color: #fff;
    background-color: #5bacdf;
    padding: 0.8rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

.cta button:hover {
    background-color: #011927;
    color: #fff;
}

.links {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.links li {
    color: #fff;
    cursor: pointer;
}

.links li:hover {
    color: #5bacdf;
}

.links li .btn {
    background-color: #5bacdf;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.links li .btn:hover {
    background-color: #011927;
    color: #fff;
}

aside {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar {
        display: none;
    }

    .links {
        display: block;
    }

    .logo {{
        margin-right: 15rem;
    }}

    aside {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
    }

    #barra-menu {
        width: 300px;
        height: 100svh;
        transform: 0.3 all;
    }

    .icon-menu ion-icon {
        color: #fff;
        width: 45px;
        height: 45px;
        margin-right: 1.5rem;
        margin-top: 2rem;
    }

    #barra-menu ul {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        line-height: 3rem;
    }

    #barra-menu ul li a {
        color: #011927;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
    }

    #barra-menu ul li a:hover {
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .C-icon {
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px;
        overflow: hidden;
    }
}